<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hotel Pacific Reef</title>
</head>

<body>
    <h1>Hotel Pacific Reef</h1>
    <form method="GET">
    <label for="fecha_entrada">Fecha de entrada:</label>
    <input
        type="date"
        id="fecha_entrada"
        name="fecha_entrada"
        value="{{ fecha_entrada|default:'' }}"
        required
    >

    <label for="fecha_salida">Fecha de salida:</label>
    <input
        type="date"
        id="fecha_salida"
        name="fecha_salida"
        value="{{ fecha_salida|default:'' }}"
        required
    >

    <button type="submit">Consultar disponibilidad</button>
</form>
    <h2>Habitaciones disponibles</h2>

    {% for habitacion in habitaciones %}
        <div>
            <h3>Habitación {{ habitacion.numero }}</h3>
            <p>Tipo: {{ habitacion.tipo }}</p>
            <p>Precio diario: ${{ habitacion.precio_diario }}</p>
            <p>Estado: {{ habitacion.estado }}</p>
        </div>
    {% empty %}
        <p>No hay habitaciones registradas.</p>
    {% endfor %}
</body>
</html>